config interface create client-131 131
config interface address dynamic-interface client-131 10.131.0.{{item.ip}} 255.255.0.0 10.131.255.254 
config interface address dynamic-interface null 172.66.66.66 255.255.255.0 172.66.66.91 
config interface dhcp dynamic-interface client-131 primary 10.100.253.6 secondary 10.100.253.106 
config interface vlan client-131 131 
config interface nasid none client-131 
!
config interface create client-132 132
config interface address dynamic-interface client-132 10.132.0.{{item.ip}} 255.255.0.0 10.132.255.254
config interface address dynamic-interface null 172.66.66.66 255.255.255.0 172.66.66.91
config interface dhcp dynamic-interface client-132 primary 10.100.253.6 secondary 10.100.253.106
config interface vlan client-132 132
config interface nasid none client-132
!
config interface create client-133 133
config interface address dynamic-interface client-133 10.133.0.{{item.ip}} 255.255.0.0 10.133.255.254
config interface address dynamic-interface null 172.66.66.66 255.255.255.0 172.66.66.91
config interface dhcp dynamic-interface client-133 primary 10.100.253.6 secondary 10.100.253.106
config interface vlan client-133 133
config interface nasid none client-133
!
config interface create client-134 134
config interface address dynamic-interface client-134 10.134.0.{{item.ip}} 255.255.0.0 10.134.255.254
config interface address dynamic-interface null 172.66.66.66 255.255.255.0 172.66.66.91
config interface dhcp dynamic-interface client-134 primary 10.100.253.6 secondary 10.100.253.106
config interface vlan client-134 134
config interface nasid none client-134
!
config interface group create customer_clients customer_clients
config interface group interface add customer_clients client-131
config interface group interface add customer_clients client-132
config interface group interface add customer_clients client-133
config interface group interface add customer_clients client-134