config rf-profile create 802.11a {{item.profile_name}}
config rf-profile trap-threshold clients 50 {{item.profile_name}}
config rf-profile trap-threshold interference 30 {{item.profile_name}}
config rf-profile channel add 36 {{item.profile_name}}
config rf-profile channel add 40 {{item.profile_name}}
config rf-profile channel add 44 {{item.profile_name}}
config rf-profile channel add 48 {{item.profile_name}}
config rf-profile channel add 52 {{item.profile_name}}
config rf-profile channel add 56 {{item.profile_name}}
config rf-profile channel add 60 {{item.profile_name}}
config rf-profile channel add 64 {{item.profile_name}}
config rf-profile channel add 100 {{item.profile_name}}
config rf-profile channel add 104 {{item.profile_name}}
config rf-profile channel add 108 {{item.profile_name}}
config rf-profile channel add 112 {{item.profile_name}}
config rf-profile channel add 116 {{item.profile_name}}
config rf-profile channel add 120 {{item.profile_name}}
config rf-profile channel add 124 {{item.profile_name}}
config rf-profile channel add 128 {{item.profile_name}}
config rf-profile channel add 132 {{item.profile_name}}
config rf-profile channel add 136 {{item.profile_name}}
config rf-profile channel add 140 {{item.profile_name}}
config rf-profile channel chan-width 40 {{item.profile_name}}
config rf-profile coverage exception 30 {{item.profile_name}}
config rf-profile data-rates 802.11a disabled 6 {{item.profile_name}}
config rf-profile data-rates 802.11a disabled 9 {{item.profile_name}}
config rf-profile data-rates 802.11a mandatory 12 {{item.profile_name}}
config rf-profile data-rates 802.11a supported 18 {{item.profile_name}}
config rf-profile data-rates 802.11a supported 24 {{item.profile_name}}
config rf-profile data-rates 802.11a supported 36 {{item.profile_name}}
config rf-profile data-rates 802.11a supported 48 {{item.profile_name}}
config rf-profile data-rates 802.11a supported 54 {{item.profile_name}}